.root {
}

.item {
  height: 500px
}

@media(min-width: 768px) {
  .item {
    height: 700px
  }
}

.slideImage {
  position: absolute;
  top: 50px;
  left: 0px;
  min-width: 100%;
  height: auto;
}

.caption {
  z-index: 10;
}
