.intro-block {
    background: #6d3957;
    padding: 100px 15px 60px;
    color: #fff;
}

.marketing-block {
    background-color: #e9e6df;
}

.marketing-block hr {
    border-top: 1px solid #c9c9c9;
}

.info-block {
    background: #ffa753 url(../images/skyline.png)  repeat-x bottom;
    padding: 80px 0px;
}

.info-block small {
    color: #eeefe9;
}

.text-muted {
    color: #e9e6df;
    font-weight: 100;
}

.tpad {
    padding-top: 20px;
}
